.register{
    position:absolute;
    height: 400px;
    width:  30%;
    padding:20px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    textAlign: center;
    display: inline-block;

}
.loginBtn,.registerBtn{
    width:48%;
    position:relative;
    top:3rem;
    margin:5px;
}