HTML, BODY {
    font-family: Roboto;
    background: #FAFAFA!important;
    margin: 0;
    padding: 0;
    height: 100%;
}
.appbar{
    z-index: 1500!important;
}
.appbar H1 {
    display: inline;
}

.main_content{
    background: #FAFAFA!important;
    float:right;
    overflow:auto
}
